.title-hp{
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
    text-emphasis: bold;
}

.homepage{
    margin: 50px auto;
    max-width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #27272747;
}

